<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Fiş Geçmişi</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="container">

    <h2>📋 Fiş Geçmişi</h2>

    {% if session.get("mesaj") %}
    <div class="success-box">
        {{ session.get("mesaj") }}
    </div>
    {% endif %}

    <div class="receipt-list">

        {% for fis in fisler %}

        <div class="receipt-card">

            <div class="receipt-header">
                <h3>{{ fis[4] }}</h3>
                <span>#{{ fis[0] }}</span>
            </div>

            <p>📅 Tarih: {{ fis[1] }}</p>

            <p>🛒 Kategori: {{ fis[3] }}</p>

            <p>💰 Toplam: {{ fis[2] }} TL</p>
             <div style="margin-top:10px; display:flex; gap:10px;">

        <a href="/edit/{{ fis[0] }}" class="btn">
            ✏️ Düzenle
        </a>

        <a href="/delete/{{ fis[0] }}" class="btn logout-btn"
           onclick="return confirm('Bu fişi silmek istediğine emin misin?')">
            🗑️ Sil
        </a>
            </div>
        </div>  

        {% endfor %}

    </div>

    <br>

    <div style="display:flex; gap:15px; justify-content:center;">

        <a href="/dashboard" class="btn">
            📊 Panele Dön
        </a>

        <a
    href="/delete_all"
    class="btn logout-btn"
    onclick="return confirm('Tüm fiş geçmişini silmek istediğinize emin misiniz?')"
>
    🗑️ Tüm Geçmişi Temizle
</a>
        
    </div>

</div>

</body>
</html>